@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito&family=Open+Sans:wght@700&family=Poppins:wght@300&family=Source+Sans+Pro:wght@700&family=Urbanist:ital,wght@0,300;1,100&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
}

body::before{
    content : '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.7;
    z-index: -1;
}

.user-profile{
    background-color: #dcdcdc;
    margin-top: 6%;
    width: 100%;
    max-width: 400px;
    /* height: 80%; */
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: rgba(0,0,0,0.4) 0px 30px 90px;
}

.profile-top{
    background: linear-gradient(to right,#8e2de2,#4a00e0);
    padding: 1rem;
    text-align: center;
    color: #fff;

}

.profile-top img{
    border-radius: 50%;
    border: 5px solid #fff;
}

.profile-top .profile-info{
    margin-top: 1rem;
}

.profile-bottom{
    padding: 3rem 3rem 1rem 3rem;
}

.profile-bottom .profile-info{
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    box-shadow: rgba(50,50,93,0.25) 0px 13px 27px -5px , rgba(0,0,0,0.3) opx 8px 16px -8px;
    transition: 0.5s ease;
}

.profile-bottom .profile-info:hover {
    box-shadow: rgba(60,64,67,0.3) 0px 1px 2px 0px , rgba(60,64,67,0.15) opx 1px 3px 1px;

}

button{
    margin-top: 2rem;
    outline: none;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: rgba(50,50,93,0.25) 0px 13px 27px -5px , rgba(0,0,0,0.3) 0px 8px 16px -8px;
    transition: 0.5s ease;
}

button:hover{
    background: linear-gradient(to right, #8e2de2,#4a00e0);
    color: #fff;
}




